<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document | <%= title %></title>
    <!-- Font Awesome -->
    <link
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0/mdb.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-info">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">ToDo</a>

        <!-- Toggle button -->
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Search form -->
          <form class="d-flex input-group w-auto ml-auto">
            <input
              type="search"
              class="form-control rounded"
              placeholder="search"
              aria-label="Search"
            />
            <button
              class="btn btn-outline-primary rounded"
              type="button"
              data-ripple-color="dark"
            >
              <i class="fa fa-search" aria-hidden="true"></i>
            </button>
          </form>
        </div>
        <!-- Collapsible wrapper -->
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->

    <div class="container">
      <div class="row mt-4">
        <form action="/" method="POST" class="col-lg-3">
          <div class="card shadow px-3">
            <h6 class="text-left mt-3">
              <i class="fa fa-plus" aria-hidden="true"></i> Add Work
            </h6>
            <label class="form-label" for="form1">work subject :</label>
            <input
              type="text"
              id="form1"
              name="workname"
              class="form-control"
            />
            <label class="form-label mt-2" for="form1"
              >work descreibtion :</label
            >
            <textarea
              type="text"
              id="form1"
              name="workdesc"
              class="form-control"
            ></textarea>

            <button class="btn btn-primary my-3">Add ToDo</button>
          </div>
        </form>
        <div class="col-lg-9">
          <table class="table card shadow">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th class="col-3">subject</th>
                <th class="col-7">decreibtion</th>
                <th class="col-2">option</th>
              </tr>
            </thead>
            <tbody>
              <% work.forEach(workinfo => { %>
              <tr>
                <th scope="row">1</th>
                <td class="col-3"><%= workinfo.workname %></td>
                <td class="col-7"><%= workinfo.workdesc %></td>
                <td class="col-2">
                  <a
                    data-doc="<%= workinfo._id %> "
                    class="ml-3 deleted"
                    style="cursor: pointer"
                    ><i class="fa fa-trash text-danger" aria-hidden="true"></i
                  ></a>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
  <!-- MDB -->
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/1.0.0/mdb.min.js"
  ></script>
  <script>
    const deleted = document.querySelector("a.deleted");

    deleted.addEventListener("click", (e) => {
      const deletedWork = `${deleted.dataset.doc}`;

      fetch(deletedWork, {
        method: "DELETE",
      })
        .then((response) => {
          response.json();
          window.location.href = "/";
        })
        .catch((err) => {
          console.log(err);
        });
    });
  </script>
</html>
